/* Albums File Css */
.albumContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
}
.albumBox{
    width:300px;
    height:300px;
    border-radius:1rem;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    color:white;
    padding:.5rem;
    margin:1rem;
    text-transform: capitalize;
    background:linear-gradient(to top, #3b3667, #625d9e, #4e4e6d);
    transition:all .2s ease-in-out;
}
.albumBox:hover{
    transform:scale(1.05);
    box-shadow:0px 0px 15px white;

}

.buttons{
    display:flex;
    justify-content: space-around;
    padding:0 .5rem;
}
.buttons button{
    width:100px;
    padding:.5rem .8rem;
    font-size:1.1rem;
    cursor:pointer;
    font-weight:bold;
    letter-spacing:.5px;
    border:none;
    
}
.buttons button:hover{
    transform:scale(1.05);
}
.buttons .delete{
    color:white;
    background-color:rgb(250, 6, 6);
    border-radius:5px;
    margin-right:.5rem;
}
.buttons .update{
    background-color:rgb(240, 177, 61);
    color:black;
    border-radius:5px;
    margin-left:.5rem;
    
}
.buttons .update:hover{
    box-shadow:0px 0px 10px rgb(247, 183, 64);
}
.buttons .delete:hover{
    box-shadow:0px 0px 10px rgb(248, 2, 2);
}
.albumUserId{
    background: #1bd3dd;
    width:80%;
    border-radius:.5rem;
    color:white;
    padding:.5rem 0;
}
.albumName{
    background: #9996ef;
    width:90%;
    border-radius:.5rem;
    color:white;
    padding:1rem 0.5rem;
}